@media screen and (max-width:992px) {
    .left-settlement-box{
        width: 100%;
        margin-top: 2rem;
        /* background-color: blue; */
    }
    .settlement-img{
        width: 100%;
    }
}